{% extends 'prometheus/base.html' %}

{% block content %}
<div class="container-fluid pt-3">
    <h1 class="h3 mb-3 fw-normal text-center">Коллективы</h1>

    <div class="row pt-3">
        {% for g in group %}
        <div class="col-md-4">
            <a href="{{ g.get_absolute_url }}"><img class="img-article-left thumb" style="width: 100%;"
                                                    src="{{g.image1.url}}"></a>
            <h4><a
                class="link-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                href="{{ g.get_absolute_url }}">{{g.name}}</a></h4>
        </div>
        {% endfor %}
    </div>
</div>
<main class="form-signin">
    <form action="{% url 'art' %}" method="post">
        {% csrf_token %}

        <h1 class="h3 mb-3 fw-normal text-center">Запишитесь на пробное занятие</h1>
        <div class="form-floating">
            {{form.name}}
            <label>Ваше имя</label>
        </div>
        <div class="form-floating">
            {{form.number}}
            <label>Номер телефона</label>
        </div>
        <div class="form-floating">
            {{form.group}}
            <label>Выберите коллектив</label>
        </div><p></p>

        <button class="w-100 btn btn-lg btn-secondary" type="submit">Отправить</button>
    </form>
</main>
{% endblock %}